{
    "swagger": "2.0",
    "info": {
        "description": "Documentación para consultar los recursos que dispone la API de vheurope",
        "version": "1.0.0",
        "title": "VHEurope API"
    },
    "host": "api.resertrip.com",
    "schemes": "http",
    "tags": [
        {
            "name": "trips",
            "description": "Busqueda de viajes"
        },
        {
            "name": "seats",
            "description": "Resultados de los asientos"
        },
        {
            "name": "invoice",
            "description": "Facturas"
        },
        {
            "name": "locations",
            "description": "Resultados de las localidades"
        }
    ],
    "paths": {
        "/v1/trips": {
            "get": {
                "tags": [
                    "trips"
                ],
                "description": "Method that Obtains the schedules for a given origin and destiny city\n",
                "parameters": [
                    {
                        "name": "departure",
                        "in": "query",
                        "description": "City of origin",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "arrival",
                        "in": "query",
                        "description": "City of destination",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "departureDate",
                        "in": "query",
                        "description": "Departure Date",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "returnDate",
                        "in": "query",
                        "description": "Return Date",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "totalPeople",
                        "in": "query",
                        "description": "Number of passengers",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Data"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/tripsFromRoute": {
            "get": {
                "tags": [
                    "trips"
                ],
                "description": "Method that Obtains the schedules for a given origin and destiny city.\n",
                "parameters": [
                    {
                        "name": "departure",
                        "in": "query",
                        "description": "City of origin",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "arrival",
                        "in": "query",
                        "description": "City of destination",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "departureDate",
                        "in": "query",
                        "description": "Departure Date",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "returnDate",
                        "in": "query",
                        "description": "Return Date",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "totalPersons",
                        "in": "query",
                        "description": "Number of passengers",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "routeID",
                        "in": "query",
                        "description": "from getSchedulesFromText",
                        "required": true,
                        "type": "number",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Data2"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/seats": {
            "post": {
                "tags": [
                    "seats"
                ],
                "description": "Method that obtains the seat availability at the specified busses.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Created user object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/JSON"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/BusBooking"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/reserves": {
            "post": {
                "tags": [
                    "seats"
                ],
                "description": "Method that reserves the chosen seats at the specified busses\n",
                "parameters": [
                    {
                        "name": "inputXML",
                        "in": "query",
                        "description": "xml con las plazas seleccionados en el paso anterior.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/reserveSeats"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/purchase": {
            "post": {
                "tags": [
                    "seats"
                ],
                "description": "Method to confirm the purchase request\n",
                "parameters": [
                    {
                        "name": "inputXML",
                        "in": "query",
                        "description": "xml con los datos del viaje y los datos del pago realizado",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/payment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/purchasesExternal": {
            "get": {
                "tags": [
                    "seats"
                ],
                "description": "Method to confirm the purchase request\n",
                "parameters": [
                    {
                        "name": "inputXML",
                        "in": "query",
                        "description": "xml con los datos del viaje (respuesta del ReserveSeats) realizado",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/payment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/invoice/{purchaseID}": {
            "get": {
                "tags": [
                    "invoice"
                ],
                "description": "Print ticket in pdf format\n",
                "parameters": [
                    {
                        "name": "purchaseID",
                        "in": "path",
                        "description": "Id de la compra a consultar/imprimir",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/pdf"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/locations": {
            "get": {
                "tags": [
                    "locations"
                ],
                "description": "Obtener las localidades para realizar la búsqueda de viajes\n",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/location2"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Data": {
            "type": "object",
            "properties": {
                "directDepartureTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "directReturnTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "alternativeTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TripAlterno"
                    }
                },
                "departureDate": {
                    "type": "integer"
                },
                "returnDate": {
                    "type": "integer"
                },
                "totalPeople": {
                    "type": "integer"
                },
                "scheduleID": {
                    "type": "integer"
                },
                "origin": {
                    "type": "string"
                },
                "originCountry": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "destinationCountry": {
                    "type": "string"
                },
                "companies": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/companies"
                    }
                },
                "typeServices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services"
                    }
                },
                "minPrice": {
                    "type": "string"
                },
                "maxPrice": {
                    "type": "string"
                }
            }
        },
        "Data2": {
            "type": "object",
            "properties": {
                "directDepartureTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "directReturnTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "departureDate": {
                    "type": "string"
                },
                "returnDate": {
                    "type": "string"
                },
                "totalPeople": {
                    "type": "integer"
                },
                "origin": {
                    "type": "string"
                },
                "originCountry": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "destinationCountry": {
                    "type": "string"
                },
                "companies": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/companies"
                    }
                },
                "typeServices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services"
                    }
                },
                "minPrice": {
                    "type": "string"
                },
                "maxPrice": {
                    "type": "string"
                }
            }
        },
        "location2": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/locations"
            }
        },
        "locations": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "countryCode": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                }
            }
        },
        "Trip": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "price": {
                    "type": "string"
                },
                "companyName": {
                    "type": "string"
                },
                "logo": {
                    "type": "string"
                },
                "origin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "departure": {
                    "type": "string"
                },
                "arrival": {
                    "type": "string"
                },
                "typeService": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                }
            }
        },
        "TripAlterno": {
            "type": "object",
            "properties": {
                "origin": {
                    "type": "string"
                },
                "countryOrigin": {
                    "type": "string"
                },
                "countryCodeOrigin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "countryDestination": {
                    "type": "string"
                },
                "countryCodeDestination": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "BusBooking": {
            "type": "object",
            "properties": {
                "totalPeople": {
                    "type": "integer"
                },
                "isRoundTrip": {
                    "type": "string"
                },
                "departure": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response"
                    }
                },
                "return": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response"
                    }
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "origin": {
                    "type": "string"
                },
                "countryOrigin": {
                    "type": "string"
                },
                "countryCodeOrigin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "countryDestination": {
                    "type": "string"
                },
                "countryCodeDestination": {
                    "type": "string"
                },
                "departureHour": {
                    "type": "string"
                },
                "arrivalHour": {
                    "type": "string"
                },
                "terminalOrigin": {
                    "type": "string"
                },
                "terminalDestination": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "company": {
                    "type": "string"
                },
                "companyLogo": {
                    "type": "string"
                },
                "size": {
                    "type": "integer"
                },
                "seatMap": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/mapSeats"
                    }
                },
                "unavailableSeats": {
                    "type": "string"
                },
                "automaticSeat": {
                    "type": "string"
                },
                "tripIdFloorOne": {
                    "type": "integer"
                },
                "tripIdFloorTwo": {
                    "type": "integer"
                },
                "priceFloorOne": {
                    "type": "string"
                },
                "priceFloorTwo": {
                    "type": "string"
                }
            }
        },
        "mapSeats": {
            "type": "object",
            "properties": {
                "piso1": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/seat"
                    }
                },
                "piso2": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/seat"
                    }
                }
            }
        },
        "seat": {
            "type": "string"
        },
        "reserveSeats": {
            "type": "object",
            "properties": {
                "idIda": {
                    "type": "integer"
                },
                "idVuelta": {
                    "type": "integer"
                }
            }
        },
        "payment": {
            "type": "object",
            "properties": {
                "idIda": {
                    "type": "string"
                },
                "idVuelta": {
                    "type": "string"
                }
            }
        },
        "pdf": {
            "type": "object",
            "properties": {
                "reportNational": {
                    "type": "string"
                },
                "reportInternational": {
                    "type": "string"
                }
            }
        },
        "JSON": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "username": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "userStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User Status"
                }
            }
        },
        "companies": {
            "type": "string"
        },
        "services": {
            "type": "string"
        }
    }
}