{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "API de resertrip",
        "description": "Documentación para consultar los recursos que dispone la API de resertrip.\n\nPara las pruebas realizadas en está documentación, se apuntará a la api de sandbox: `http:\\\\sandbox.api.resertrip.com`\n"
    },
    "schemes": [
        "http"
    ],
    "host": "sandbox.api.resertrip.com",
    "tags": [
        {
            "name": "trips",
            "description": "Busqueda de viajes"
        },
        {
            "name": "seats",
            "description": "Resultados de los asientos"
        },
        {
            "name": "invoice",
            "description": "Facturas"
        },
        {
            "name": "locations",
            "description": "Resultados de las localidades"
        },
        {
            "name": "reserves",
            "description": "Reservar asientos"
        },
        {
            "name": "purchase",
            "description": "Comprar el pasaje"
        }
    ],
    "paths": {
        "/v1/trips": {
            "get": {
                "tags": [
                    "trips"
                ],
                "description": "Método que obtiene los viajes disponibles a partir de los parámetros ingresados por el usuario",
                "parameters": [
                    {
                        "name": "departure",
                        "in": "query",
                        "description": "Ciudad origen",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "arrival",
                        "in": "query",
                        "description": "Ciudad destino",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "departureDate",
                        "in": "query",
                        "description": "Fecha de salida",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "returnDate",
                        "in": "query",
                        "description": "Fecha de llegada",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "totalPeople",
                        "in": "query",
                        "description": "Número de pasajeros",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Data"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/tripsFromRoute": {
            "get": {
                "tags": [
                    "trips"
                ],
                "description": "Método que obtiene los viajes disponibles a partir de un viaje alterno seleccionado por el usuario.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Identificador del viaje alterno",
                        "required": true,
                        "type": "number",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Data2"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/seats": {
            "post": {
                "tags": [
                    "seats"
                ],
                "description": "Método que obtiene los asientos partiendo de un viaje seleccionado por el usuario.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "JSON con los identificadores de los viajes de Ida y/o Vuelta",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/JSON"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/BusBooking"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/reserves": {
            "post": {
                "tags": [
                    "reserves"
                ],
                "description": "Método que reserva los asientos seleccionados por el usuario para el viaje respectivo\n",
                "parameters": [
                    {
                        "in": "body",
                        "name": "inputReserves",
                        "description": "JSON con los datos para proceder a reservar el asiento",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/inputReserves"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/reserveSeats"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/purchase": {
            "post": {
                "tags": [
                    "purchase"
                ],
                "description": "Método para realizar la compra del pasaje\n",
                "parameters": [
                    {
                        "in": "body",
                        "name": "inputPurchase",
                        "description": "JSON con los datos para proceder con la compra del pasaje",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/inputPurchase"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/purchase"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/invoice/{purchaseID}": {
            "get": {
                "tags": [
                    "invoice"
                ],
                "description": "Print ticket in pdf format\n",
                "parameters": [
                    {
                        "name": "purchaseID",
                        "in": "path",
                        "description": "Id de la compra a consultar/imprimir",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/pdf"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/v1/locations": {
            "get": {
                "tags": [
                    "locations"
                ],
                "description": "Obtener las localidades para realizar la búsqueda de viajes\n",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/location2"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Data": {
            "type": "object",
            "properties": {
                "directDepartureTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "directReturnTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "alternativeTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TripAlterno"
                    }
                },
                "departureDate": {
                    "type": "integer"
                },
                "returnDate": {
                    "type": "integer"
                },
                "totalPeople": {
                    "type": "integer"
                },
                "origin": {
                    "type": "string"
                },
                "originCountry": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "destinationCountry": {
                    "type": "string"
                },
                "companies": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/companies"
                    }
                },
                "typeServices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services"
                    }
                },
                "minPrice": {
                    "type": "string"
                },
                "maxPrice": {
                    "type": "string"
                },
                "minDuration": {
                    "type": "string"
                }
            }
        },
        "Data2": {
            "type": "object",
            "properties": {
                "directDepartureTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "directReturnTrips": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Trip"
                    }
                },
                "departureDate": {
                    "type": "integer"
                },
                "returnDate": {
                    "type": "integer"
                },
                "totalPeople": {
                    "type": "integer"
                },
                "origin": {
                    "type": "string"
                },
                "originCountry": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "destinationCountry": {
                    "type": "string"
                },
                "companies": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/companies"
                    }
                },
                "typeServices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services"
                    }
                },
                "minPrice": {
                    "type": "string"
                },
                "maxPrice": {
                    "type": "string"
                },
                "minDuration": {
                    "type": "string"
                }
            }
        },
        "location2": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/locations"
            }
        },
        "locations": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "country": {
                    "type": "string"
                },
                "countryCode": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                }
            }
        },
        "Trip": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "price": {
                    "type": "string"
                },
                "companyName": {
                    "type": "string"
                },
                "logo": {
                    "type": "string"
                },
                "origin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "departure": {
                    "type": "string"
                },
                "arrival": {
                    "type": "string"
                },
                "typeService": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                }
            }
        },
        "TripAlterno": {
            "type": "object",
            "properties": {
                "origin": {
                    "type": "string"
                },
                "countryOrigin": {
                    "type": "string"
                },
                "countryCodeOrigin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "countryDestination": {
                    "type": "string"
                },
                "countryCodeDestination": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "BusBooking": {
            "type": "object",
            "properties": {
                "totalPeople": {
                    "type": "integer"
                },
                "isRoundTrip": {
                    "type": "string"
                },
                "departure": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response"
                    }
                },
                "return": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/response"
                    }
                }
            }
        },
        "response": {
            "type": "object",
            "properties": {
                "origin": {
                    "type": "string"
                },
                "countryOrigin": {
                    "type": "string"
                },
                "countryCodeOrigin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "countryDestination": {
                    "type": "string"
                },
                "countryCodeDestination": {
                    "type": "string"
                },
                "departureHour": {
                    "type": "string"
                },
                "arrivalHour": {
                    "type": "string"
                },
                "terminalOrigin": {
                    "type": "string"
                },
                "terminalDestination": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "company": {
                    "type": "string"
                },
                "companyLogo": {
                    "type": "string"
                },
                "size": {
                    "type": "integer"
                },
                "seatMap": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/mapSeats"
                    }
                },
                "unavailableSeats": {
                    "type": "string"
                },
                "automaticSeat": {
                    "type": "string"
                },
                "tripIdFloorOne": {
                    "type": "integer"
                },
                "tripIdFloorTwo": {
                    "type": "integer"
                },
                "priceFloorOne": {
                    "type": "string"
                },
                "priceFloorTwo": {
                    "type": "string"
                }
            }
        },
        "mapSeats": {
            "type": "object",
            "properties": {
                "piso1": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/seat"
                    }
                },
                "piso2": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/seat"
                    }
                }
            }
        },
        "seat": {
            "type": "string"
        },
        "reserveSeats": {
            "type": "object",
            "properties": {
                "departure": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/infoForPayment"
                    }
                },
                "return": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/infoForPayment"
                    }
                },
                "idIda": {
                    "type": "string"
                },
                "idVuelta": {
                    "type": "string"
                },
                "totalFee": {
                    "type": "integer"
                },
                "totalPayment": {
                    "type": "integer"
                },
                "totalPrice": {
                    "type": "integer"
                }
            }
        },
        "infoForPayment": {
            "type": "object",
            "properties": {
                "origin": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "date": {
                    "type": "string"
                },
                "time": {
                    "type": "string"
                },
                "company": {
                    "type": "string"
                },
                "typeService": {
                    "type": "string"
                }
            }
        },
        "pdf": {
            "type": "object",
            "properties": {
                "reportNational": {
                    "type": "string"
                },
                "reportInternational": {
                    "type": "string"
                }
            }
        },
        "JSON": {
            "type": "object",
            "properties": {
                "idIda": {
                    "type": "string"
                },
                "idVuelta": {
                    "type": "string"
                }
            }
        },
        "companies": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "services": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "inputReserves": {
            "type": "object",
            "properties": {
                "idIda": {
                    "type": "string"
                },
                "idVuelta": {
                    "type": "string"
                },
                "passengers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/passengers"
                    }
                },
                "seatsIda": {
                    "type": "string"
                },
                "seatsVuelta": {
                    "type": "string"
                }
            }
        },
        "passengers": {
            "type": "object",
            "properties": {
                "documentId": {
                    "type": "string"
                },
                "documentType": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                }
            }
        },
        "inputPurchase": {
            "type": "object",
            "properties": {
                "idIda": {
                    "type": "string"
                },
                "idVuelta": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "surname": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "dni": {
                    "type": "string"
                },
                "card": {
                    "type": "string"
                },
                "cvv": {
                    "type": "string"
                },
                "expirationDate": {
                    "type": "string"
                }
            }
        },
        "purchase": {
            "type": "object",
            "properties": {
                "departureData": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/infoForSuccess"
                    }
                },
                "returnData": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/infoForSuccess"
                    }
                },
                "customer": {
                    "type": "string"
                },
                "customerEmail": {
                    "type": "string"
                },
                "providerName": {
                    "type": "string"
                },
                "purchaseId": {
                    "type": "string"
                },
                "total": {
                    "type": "integer"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "infoForSuccess": {
            "type": "object",
            "properties": {
                "arrivalDate": {
                    "type": "string"
                },
                "arrivalTime": {
                    "type": "string"
                },
                "companyLogo": {
                    "type": "string"
                },
                "companyName": {
                    "type": "string"
                },
                "departureDate": {
                    "type": "string"
                },
                "departureTime": {
                    "type": "string"
                },
                "destination": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "numTrip": {
                    "type": "integer"
                },
                "origin": {
                    "type": "string"
                },
                "price": {
                    "type": "integer"
                },
                "terminalDestination": {
                    "type": "string"
                },
                "terminalOrigin": {
                    "type": "string"
                },
                "typeService": {
                    "type": "string"
                },
                "seats": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/seats"
                    }
                }
            }
        },
        "seats": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "dni": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "seatNumber": {
                    "type": "string"
                },
                "price": {
                    "type": "integer"
                }
            }
        }
    }
}